<p>New Article </p>

<div class="new_article">
<%= form_for :article, url: articles_path do |f| %>
<%= f.label :title %>
<%= f.text_field :title %> </br>
<%= f.label :preview %>
<%= f.text_area :preview %> </br>
<%= f.label :text %>
<%= f.text_area :text %>
<%= f.submit :save %>
<% end %>
</div>